.home {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0px;
    section {
      margin: 30px 0px;
      a {
        text-decoration: none;
      }
      h4 {
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -2px;
        color: var(--primary-color);
      }
      h2 {
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        font-size: 70px;
        font-weight: 600;
        color: rgb(36, 38, 47);
        span {
          color: rgb(110, 6, 242);
        }
      }
      p {
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        color: rgb(78, 82, 90);
      }
      .links {
        display: flex;
        gap: 20px;
        margin: 20px 0px;
        .git {
          background-color: rgb(110, 26, 245);
          color: #ffffff;
          padding: 10px;
          border: none;
          border-radius: 5px;
          font-family: Inter, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: large;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
        .bp {
          background: none;
          padding: 10px 15px;
          font-family: Inter, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: large;
          border: 1px solid var(--primary-color);
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: #646262;
            color: white;
          }
        }
      }
    }
    aside {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .image {
        display: flex;
        justify-content: center;
        align-items: center; /* Center the image vertically */
        width: 450px; /* Adjust the width as needed */
        height: 450px; /* Adjust the height as needed */
        border-radius: 50%; /* Make the image circular */
        overflow: hidden;
        border: 1px solid var(--primary-color);
        padding: 40px;
        img {
          width: 100%; /* Make the image fill the container */
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  .h-project {
    margin-bottom: 10rem;
    h2 {
      font-family: "Poppins", "Poppins Placeholder", sans-serif;
      font-size: 50px;
      font-weight: 700;
      color: rgb(36, 38, 47);
      b {
        color: rgb(110, 6, 242);
      }
    }
    .cards {
     display: flex;
      .card1 {
        img {
          width: 100%;
          height: 60%;
        }
      }
    }
  }
  .skills {
    margin: 50px 0px;
    h2 {
      margin: 14px 0px;
      font-family: "Poppins", "Poppins Placeholder", sans-serif;
      font-size: 56px;
      font-weight: 700;
      color: rgb(36, 38, 47);
      b {
        color: rgb(110, 6, 242);
      }
    }
    .inner-skill {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      h4 {
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: rgb(36, 38, 47);
        margin-bottom: 14px;
      }
      p {
        font-family: "Poppins", "Poppins Placeholder", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(36, 38, 47);
      }
    }
  }
  .education {
    margin-bottom: 10vh;
    h2 {
      font: 700 56px "Poppins", "Poppins Placeholder", sans-serif;
      color: rgb(36, 38, 47);
      margin: 14px 0px;
      b {
        color: rgb(110, 6, 242);
      }
    }
    ul {
      /* list-style: none; */
      margin-left: 20px;
      li {
        margin-bottom: 20px;
        h3 {
          font: 700 24px "Poppins", "Poppins Placeholder", sans-serif;
          color: rgb(36, 38, 47);
          margin-bottom: 14px;
        }
        p {
          font: 400 18px "Poppins", "Poppins Placeholder", sans-serif;
          color: rgb(36, 38, 47);
          margin-bottom: 10px;
          margin-left: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .inner-skill {
    grid-template-columns: 1fr !important;
  }
}
@media screen and (max-width: 1024px) {
  main {
    grid-template-columns: 1fr !important;
  }
  .inner-skill {
    grid-template-columns: 1fr 1fr;
  }
  .h-project{
    .cards{
      flex-direction: column;
    }
  }
}
